/* ━━━━━━━━━━| DEFAULT |━━━━━━━━━━ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 30vh;
  background-color: rgb(93, 93, 93);
  text-align: center;
}

button {
  padding: 30px;
  background-color: rgb(255, 140, 186);
  border-radius: 15px;
  font-size: 20px;
}

p {
  margin-bottom: 30px;
  font-size: 50px;
  text-decoration: underline;
}
