/* ------------------------- | ALL | -------------------------*/
* {
  box-sizing: border-box;
}

/* ------------------------ | BODY | -------------------------*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(46, 46, 46);
}

/* ------------------ | BACKGROUND / VIDEO | -----------------*/
.box video {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(6px)
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComponentTransfer><feFuncA type="linear" slope="10"/></feComponentTransfer></filter>#a')
    grayscale(90%);
}

/* -------------------- | HEADER / NAV | ---------------------*/
/* Hela nav-baren */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.056);
  padding: 20px 50px;
  letter-spacing: 1px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13);
}

/* [Target] Länkarna i nav-baren */
.nav-bar a {
  text-transform: capitalize;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Container av länkarna i nav-baren */
.nav-links {
  font-family: "Poiret One", cursive;
  font-size: 18px;
  width: 50%;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
  text-shadow: 0 0 5px black;
}

.nav-links a:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* LOGO + HOLY TEXT */
.main-logo {
  display: flex;
  align-items: center;
}

/* IMG | .ICO */
.cat-logo {
  margin-right: 0.3em;
}

/* CATS */
.cats-text {
  font-size: 28px;
  color: rgb(255, 223, 185);
}

/* h2 */
.holy-cats-logo-text {
  margin-right: auto;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Shadows Into Light", cursive;
}

/* ---------------------- | HAMBURGER | ----------------------*/
.hamburger {
  position: relative;
  display: none;
  width: 50px;
  height: 35px;
  cursor: pointer;
  margin-right: 50px;
  z-index: 1;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-6px, -6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav-links {
  position: fixed;
  display: block;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  padding-top: 110px;
  transition: 0.4s;
}

.mobile-nav-links.is-active {
  left: 0;
}

.mobile-nav-links a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-top: 0;
  text-align: center;
  padding: 15px;
  background-color: rgba(70, 70, 70, 0.945);
}

.mobile-nav-links a:hover {
  background-color: rgba(0, 0, 0, 0.137);
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  justify-content: center;
  min-height: 100vh;
}

.box h1 {
  color: white;
  text-shadow: 2px 2px 1px black;
  margin-bottom: 15px;
  font-size: 65px;
  text-shadow: 0 0 5px black;
  text-align: center;
}

.box h3 {
  color: wheat;
  margin-bottom: 40px;
  font-size: 25px;
  font-style: italic;
}

.hero {
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  box-shadow: 1px 1px 1px black;
  background-color: rgba(0, 0, 0, 0.1);
}

.heart {
  color: rgb(255, 255, 255);
  font-size: 19px;
}

.current-page {
  border-bottom: 2px solid rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0);
}

.sign {
  font-size: 16px;
  color: white;
  font-style: italic;
  letter-spacing: 1px;
  font-family: "Poiret One", cursive;
}

.performance-area {
  width: 100%;
  border-top: 3px solid rgba(0, 0, 0, 0.056);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: rgba(79, 79, 79, 0.122);
}
.problem-text {
  color: white;
  font-style: italic;
  font-size: 12px;
  text-shadow: 1px 1px 1px black;
  margin-right: 30px;
}

.arrow {
  margin-left: 20px;
  font-size: 30px;
}

.performance-btn {
  color: rgb(185, 252, 41);
  padding: 5px 10px;
  border: none;
  background: rgba(0, 0, 0, 0.185);
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.53);
  font-weight: bold;
  border-radius: 3px;
  transition: 0.2s;
}

.performance-btn:hover {
  color: rgb(185, 252, 41);
  padding: 5px 10px;
  border: none;
  background: rgba(0, 0, 0, 0.415);
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

/* ------------------ ||||| MEDIUM ||||| ------------------- */
@media (max-width: 1200px) {
  .nav-links {
    font-size: 15px;
    width: 60%;
  }

  .box h1 {
    font-size: 50px;
  }

  .box h3 {
    font-size: 15px;
  }

  .sign {
    font-size: 14px;
  }
}

/* ------------------ ||||| MOBILE ||||| ------------------- */
@media (max-width: 700px) {
  .nav-bar {
    padding: 0;
    display: block;
  }

  .nav-links {
    display: none;
    font-size: 14px;
    width: 100%;
  }

  .main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cat-logo {
    margin: 1em;
  }

  .box h1 {
    font-size: 40px;
    margin-top: 2em;
    text-align: center;
  }

  .hamburger {
    display: block;
  }

  .hero {
    padding-top: 0;
  }

  .sign {
    font-size: 12px;
  }

  .problem-text {
    color: white;
    font-style: italic;
    font-size: 10px;
    text-shadow: 1px 1px 1px black;
  }

  .performance-btn {
    font-size: 11px;
    background: rgba(0, 0, 0, 0.185);
    border-radius: 3px;
  }

  .performance-btn:hover {
    color: rgb(185, 252, 41);
    padding: 5px 10px;
    border: none;
    background: rgba(0, 0, 0, 0.415);
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
  }
}
