@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
/* font-family: 'El Messiri', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/* font-family: 'Dancing Script', cursive; */

:root {
  --dvdDarkBlue: #3c66b1;
  --dvdMediumBlue: #52a2e7;
  --dvdLightBlue: #a3cef2;
  --dvdDangerLightRed: rgb(255, 144, 144);
  --dvdDangerMediumRed: rgb(255, 96, 96);
  --dvdOrangeYellow: rgb(255, 189, 67);
  --dvdPink: rgb(255, 69, 202);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* where to put this if not here...? */
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* 
SCROLLBAR DESIGN!
Source and help from: https://css-tricks.com/almanac/properties/s/scrollbar/
*/
ul::-webkit-scrollbar {
  width: 1rem;
}

ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

ul::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid rgba(0, 0, 0, 0.571);
  border-radius: 50px;
}
