#head-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-image: url("https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-black-dark-mode-layers-5k-2880x1800-5889.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#head-section article {
  box-shadow: 0 0 15px var(--dvdMediumBlue);
  padding: 3rem;
  background: rgba(0, 0, 0, 0.822);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  min-height: 500px;
  margin: auto;
  transition: 0.3s;
}

#head-section article .label-and-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

#head-section article .label-and-input-container label {
  color: var(--dvdLightBlue);
  margin-bottom: 0.7rem;
}

#head-section h2 {
  font-family: "El Messiri", sans-serif;
  font-size: 2rem;
  color: black;
  border-bottom: 2px solid var(--dvdDarkBlue);
  margin: 6rem auto auto auto;
}

#head-section .label-and-input-container input {
  font-size: 15px;
  border: none;
  border-bottom: 1px solid rgb(73, 73, 73);
  background: transparent;
  padding: 0.4rem 1rem;
  text-align: center;
  color: white;
  width: 15rem;
  outline: none;
}

#search-btn,
#add-btn {
  font-family: "El Messiri", sans-serif;
  font-size: 17px;
  padding: 0.5rem 1rem;
  background-color: var(--dvdMediumBlue);
  border-radius: 100px;
}

#search-btn {
  display: none;
  background-color: var(--dvdPink);
}

#head-section article button:hover {
  cursor: pointer;
  background-color: var(--dvdDarkBlue);
  color: white;
}

#add-or-search-txt {
  color: var(--dvdOrangeYellow);
  margin: 0rem auto 2rem auto;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(73, 73, 73);
  min-width: 7rem;
  max-width: 9rem;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

/* CALENDER COLOR */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* CALENDER ON HOVER */
::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
