@import "./app.css";

#head-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  /* The image used */
  background-image: url("https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-black-dark-mode-layers-5k-2880x1800-5889.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#head-section article {
  box-shadow: 0 0 15px var(--dvdMediumBlue);
  padding: 3rem;
  background: rgba(0, 0, 0, 0.822);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 75vw;
  max-width: 600px;
  min-height: 80vh;
  margin: auto auto 2rem auto;
  transition: 1s;
}

/* BOTH LABEL AND INPUT */
#head-section article .label-and-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

/* LABEL SETTINGS */
#head-section article .label-and-input-container label {
  color: var(--dvdLightBlue);
  margin-bottom: 0.7rem;
}

#head-section h2 {
  font-family: "El Messiri", sans-serif;
  font-size: 2rem;
  color: black;
  border-bottom: 2px solid var(--dvdDarkBlue);
  margin: 6rem auto auto auto;
}

/* INPUT SETTINGS */
#head-section .label-and-input-container input {
  font-size: 15px;
  border: none;
  border-bottom: 1px solid var(--dvdLightBlue);
  background: transparent;
  padding: 0.4rem 1rem;
  text-align: center;
  color: white;
  width: 15rem;
  outline: none;
}

/* "ADD AND SEARCH" BUTTONS */
#search-btn,
#add-btn {
  font-family: "El Messiri", sans-serif;
  font-size: 17px;
  padding: 0.5rem 1rem;
  background-color: var(--dvdMediumBlue);
  border-radius: 100px;
}

#search-btn {
  display: none;
  background-color: var(--dvdPink);
}

/* "ADD TO COLLECTION" BUTTON SETTINGS HOVER */
#head-section article button:hover {
  cursor: pointer;
  background-color: var(--dvdDarkBlue);
  color: white;
}

#add-or-search-txt {
  color: var(--dvdOrangeYellow);
  margin: 0rem auto 2rem auto;
  padding: 0.5rem;
  border-bottom: 1px solid var(--dvdLightBlue);
  min-width: 7rem;
  max-width: 9rem;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

/* CALENDER COLOR */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* CALENDER ON HOVER */
::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

/* .·:*¨ ✘•|  MEDIA QUERY  |•✘ ¨*:·.  */

/* ✘•| SMALL |•✘ */
@media only screen and (min-width: 501px) and (max-width: 767px) {
}

/* ✘•| MOBILE |•✘ */
@media only screen and (min-width: 0px) and (max-width: 500px) {
}
