header {
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  height: 4rem;
  user-select: none;
}

/* DVD-LOGO */
header #logo-img {
  width: 3rem;
  margin: 0 0.3rem;
}

/* DE-VE-DENNIS */
header #site-name-txt {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  margin-right: auto;
  text-shadow: 0 0 5px var(--dvdDarkBlue);
  color: var(--dvdLightBlue);
  text-decoration: none;
}

header #site-name-txt:hover {
  transform: scale(1.01);
}

/* MOVIES I WANT TO SEE ANCHOR */
#movies-i-want-to-see-txt,
#go-to-top {
  font-family: "El Messiri", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background: var(--dvdMediumBlue);
  text-shadow: 0 0 3px var(--dvdLightBlue);
  margin-right: 1rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 5px black;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 100px;
}

/* MOVIES I WANT TO SEE ANCHOR:HOVER */
#movies-i-want-to-see-txt:hover,
#go-to-top:hover {
  cursor: pointer;
  background-color: var(--dvdDarkBlue);
  color: white;
}

/* .·:*¨ ✘•|  MEDIA QUERY  |•✘ ¨*:·.  */
/* ✘•| SMALL |•✘ */
@media only screen and (min-width: 501px) and (max-width: 767px) {
  /* DE-VE-DENNIS */
  header #site-name-txt {
    font-size: 27px;
  }
  /* MOVIES I WANT TO SEE ANCHOR */
  #movies-i-want-to-see-txt,
  #go-to-top {
    font-size: 11px;
  }
}

/* ✘•| MOBILE |•✘ */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  /* DE-VE-DENNIS */
  header #site-name-txt {
    font-size: 25px;
  }
  /* MOVIES I WANT TO SEE ANCHOR */
  #movies-i-want-to-see-txt,
  #go-to-top {
    font-size: 10px;
  }
}
