@import "./app.css";

header {
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  user-select: none;
}

/* DVD-LOGO */
header #logo-img {
  width: 3rem;
  margin: 0 0.3rem;
}

/* DE-VE-DENNIS */
header #site-name-txt {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  margin-right: auto;
  text-shadow: 0 0 5px var(--dvdDarkBlue);
  color: var(--dvdLightBlue);
  text-decoration: none;
}

header #site-name-txt:hover {
  transform: scale(1.01);
}

/* MOVIES I WANT TO SEE ANCHOR */
#movies-i-want-to-see-txt {
  font-family: "El Messiri", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background: var(--dvdMediumBlue);
  text-shadow: 0 0 3px var(--dvdLightBlue);
  margin-right: 1rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 5px black;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 100px;
}

/* MOVIES I WANT TO SEE ANCHOR:HOVER */
#movies-i-want-to-see-txt:hover {
  cursor: pointer;
  background-color: var(--dvdDarkBlue);
  color: white;
}
