#welcomeSlider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(43, 43, 43));
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transition: 5s;
  color: white;
}

#welcomeSlider.hide {
  animation: fadeOut ease 1s;
}

#welcomeSlider.display-none {
  display: none;
}

main #welcome-logo-img {
  margin: 0 0.3rem;
  animation-name: spin;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#welcomeSlider p {
  font-family: "Dancing Script", cursive;
  color: var(--dvdOrangeYellow);
  font-size: 60px;
  text-shadow: 2px 2px 5px black;
}

/* LOGO SPINNER */
/* Source and help from: https://codepen.io/teerapuch/pen/vLJXeR */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FADE OUT ANIMATION */
/* Source and help from: https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08 */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
