/* ━━━━━━━━━━| DEFAULT |━━━━━━━━━━ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(240, 164, 255);
  padding: 30px 0;
}

/* ━━━━━━━━━━| SIGNATURE |━━━━━━━━━━ */
#db-sign {
  font-size: 24px;
  text-align: center;
  margin-top: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

/* ━━━━━━━━━━| EFFECTS |━━━━━━━━━━ */
.calc-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#clear-btn:hover {
  background-color: rgb(253, 116, 109);
}

#equals-btn:hover {
  background-color: rgb(43, 250, 43);
}

.calc-btn:hover {
  background: rgba(0, 0, 0, 0.759);
}

/* ━━━━━━━━━━━━| MAIN |━━━━━━━━━━━ */
.calculator {
  max-width: 400px;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.519);
  background: rgb(232, 140, 251);
}

#display {
  box-shadow: none;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 20px;
  text-align: right;
  font-size: 30px;
}

.calculator-buttons {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 15px;
}

.calc-btn {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  padding: 20px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}

#clear-btn {
  grid-column: span 3;
  background-color: rgb(255, 139, 133);
}

#zero-btn {
  grid-column: span 3;
}

#equals-btn {
  background-color: rgb(75, 255, 75);
}
