* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 3px black;
  margin: auto;
}

.item {
  width: 200px;
  height: 200px;
  background-color: rgb(196, 1, 1);
  display: flex;
  border-radius: 50%;
  margin: 40px auto;
}
