* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.links-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 50px;
  list-style-type: none;
  background-color: #eeeeee;
}

.link {
  text-decoration: none;
  color: #424242;
}

.link:hover {
  color: white;
  background-color: #666666;
}

/* EXTRA UPPGIFT: */
/* HUR FÅR JAG HOVER ATT TÄCKA ETT HELT LI ELEMENT?! */
