* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  background-color: rgb(169, 169, 169);
  height: 40px;
}

li {
  padding: 0 20px;
}

.logo {
  margin-right: auto;
  font-weight: bolder;
}

.zo {
  font-size: 30px;
}

.com {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}
