* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.fibo-container {
  display: flex;
  height: 100px;
  border: 1px solid black;
  color: white;
}

.item1 {
  background: rgb(50, 17, 17);
  flex: 0;
}

.item2 {
  background: rgb(87, 30, 30);
  flex: 1;
}

.item3 {
  background: rgb(115, 41, 41);
  flex: 1;
}

.item4 {
  background: rgb(141, 51, 51);
  flex: 2;
}

.item5 {
  background: rgb(170, 62, 62);
  flex: 3;
}

.item6 {
  background: rgb(198, 73, 73);
  flex: 5;
}

.item7 {
  background: rgb(215, 79, 79);
  flex: 8;
}

.item8 {
  background: rgb(215, 151, 79);
  flex: 13;
}

.item9 {
  background: rgb(225, 169, 105);
  flex: 21;
}

.item10 {
  background: rgb(195, 154, 108);
  flex: 34;
}
