/* font-family: 'Shalimar', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");
/* font-family: 'Fredericka the Great', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* This is the background video... */
#bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  filter: brightness(0.4) grayscale(0.7);
}

header {
  /* border: 3px dotted red; */
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* SOLARIS IMG */
header img {
  max-width: 5rem;
  margin: 0 0 0 2rem;
  filter: opacity(0.4);
}

/* SOLARIS */
header a:nth-child(2) {
  font-family: "Shalimar", cursive;
  margin-right: auto;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 40px white;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}

header a:nth-child(2):hover {
  color: rgba(255, 0, 144, 0.299);
  text-shadow: 0 0 35px white;
}

/* Dennis Byberg */
header a:nth-child(3) {
  font-family: "Shalimar", cursive;
  margin: 3rem;
  box-shadow: 0 0 3px white;
  padding: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.511);
  font-size: 26px;
  background-color: rgba(0, 0, 0, 0.314);
}

header a:nth-child(3):hover {
  background-color: rgba(26, 26, 26, 0.873);
}

#hover-text {
  color: white;
  position: absolute;
  z-index: -1;
  font-size: 100px;
  bottom: 2rem;
  color: rgba(30, 30, 30, 0.522);
}

/* ━━━━━━━━━━| SLIDER |━━━━━━━━━━ */
#slider {
  color: white;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(200%);
  transition: all 0.5s ease;
  z-index: 1;
  flex-direction: column;
  padding: 7rem;
}

#slider.show {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.96);
}

#slider h4 {
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

content {
  max-width: 40rem;
}

content h2 {
  font-size: 3rem;
  align-self: flex-start;
}

content h3 {
  font-size: 2rem;
  align-self: flex-start;
  color: #a68931;
}

#slider p:nth-child(3) {
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.349);
}

#info-container {
  /* border: 1px dotted blue; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.349);
}

#info-container p {
  padding-bottom: 1rem;
}

#bottom-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 2px dotted yellow; */
  min-height: 3rem;
}

#bottom-info-container p {
  overflow-y: auto;

  width: 20rem;
}

#bottom-info-container button {
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 2px white;
  width: 10rem;
  margin-left: auto;
  border-radius: 3px;
}

#bottom-info-container button:hover {
  box-shadow: 0 0 3px white;
  text-shadow: 0 0 3px white;
  background-color: rgb(10, 10, 10);
}

@media screen and (max-width: 700px) {
  body {
    text-align: center;
  }

  #info-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  #bottom-info-container {
    display: flex;
    flex-direction: column;
  }
  #bottom-info-container button {
    margin: 3rem auto;
    min-height: 3rem;
  }

  #moons p {
    margin: auto;
  }

  header {
    box-shadow: 0 0 2px white;
    margin: 2rem auto 0 auto;
    flex-direction: column;
    padding: 2rem;
  }
  header a:nth-child(3) {
    display: none;
  }

  header img {
    margin: auto;
  }

  #slider p:nth-child(3) {
    margin: 0 0rem;
    padding: 0;
  }
}
