/* font-family: 'Josefin Slab', serif; */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Qwigley', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");

:root {
  --unitedNationsBlue: #82afff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* FLEX-SETTINGS */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  /* COLORS */
  background: rgb(30, 30, 30);
}

header {
  /* FLEX-SETTINGS */
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

  top: 0;
  width: 100%;
  height: 5rem;
  user-select: none;

  /* COLORS */
  background: linear-gradient(to top, rgb(30, 30, 30), rgb(40, 40, 40));
}

header h1 {
  font-family: "Josefin Slab", serif;
  font-weight: 500;
  margin-right: 0.5rem;
  padding-bottom: 0.4rem;

  /* COLORS */
  text-shadow: 0 0 10px rgb(0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.429);
  color: var(--unitedNationsBlue);
}

/* FN FLAG */
header img {
  height: 3rem;
  width: 3rem;
}

main {
  width: 100%;
  margin-bottom: 6rem;
  margin-top: 7.1rem;
  overflow-y: scroll;
  user-select: none;
}

main ul li {
  /* FLEX-SETTINGS */
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  max-width: 18rem;
  padding: 0.3rem;
  margin: 20px auto;
  border-radius: 10px;
  cursor: pointer;

  /* COLORS */
  color: var(--unitedNationsBlue);
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  background: rgb(27, 27, 27);
}

main ul li:hover {
  /* COLORS */
  background: rgb(20, 20, 20);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.267);
}

main section p {
  font-family: "Josefin Slab", serif;
  line-height: 1.5rem;
  font-size: 18px;
  padding: 2rem 0;
  text-align: center;

  /* COLORS */
  color: white;
}

main section {
  display: none;
  margin: auto;
  max-width: 20rem;

  /* COLORS */
  border-top: 1px solid var(--unitedNationsBlue);
  border-bottom: 1px solid var(--unitedNationsBlue);
}

#home-btn {
  display: none;
  background: rgb(20, 20, 20);
  font-family: "Josefin Slab", serif;
  border: none;
  color: white;
  padding: 1.2rem 3rem;
  border-radius: 15px;
  box-shadow: 0 0 2px white;
}

#home-btn:hover {
  background: rgb(25, 25, 25);
  cursor: pointer;
}

footer {
  /* FLEX-SETTINGS */
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;

  /* COLORS */
  background: linear-gradient(to bottom, rgb(30, 30, 30), rgb(40, 40, 40));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.188);
}

#my-signature {
  z-index: 1;
  font-family: "Qwigley", cursive;
  font-size: 35px;
  position: fixed;
  bottom: 4.2rem;
  margin-bottom: -1.2rem;
  user-select: none;

  /* COLORS */
  color: rgb(72, 72, 72);
}

footer ul {
  /* FLEX-SETTINGS */
  display: flex;
  text-align: center;
  gap: 10vw;

  font-size: 18px;
  list-style: none;
}

footer a {
  text-decoration: none;
  font-family: "Josefin Slab", serif;
  display: block;
  position: relative;
  padding: 0.4em 0;
  overflow: hidden;

  /* COLORS */
  color: var(--unitedNationsBlue);
}

/* 
UNDERLINE EFFECT!
Source and help from: https://css-irl.info/animating-underlines
*/
footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;

  /* COLORS */
  background-color: white;
}

footer a:hover::after,
footer a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

footer ul li a::after {
  transform: translate3d(-100%, 0, 0);
}

footer ul li a:hover::after,
footer ul li a:focus::after {
  transform: translate3d(0, 0, 0);
}

/* 
SCROLLBAR DESIGN!
Source and help from: https://css-tricks.com/almanac/properties/s/scrollbar/
*/
main::-webkit-scrollbar {
  width: 1rem;
}

main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.368);
  outline: 1px solid var(--unitedNationsBlue);
  border-radius: 50px;
}

/* MOBILE VERSION */
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 25px;
  }
  header img {
    height: 2rem;
    width: 2rem;
  }
  #my-signature {
    font-size: 2rem;
    bottom: 4rem;
  }

  footer ul {
    font-size: 16px;
  }
}
