/* font-family: 'Josefin Slab', serif; */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Qwigley', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");

:root {
  --unitedNationsBlue: #82afff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* ^FLEX-SETTINGS^ */
  height: 100vh;
  width: 100vw;
  background: rgb(30, 30, 30);
  overflow-x: hidden;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  /* ^FLEX-SETTINGS^ */
  width: 100%;
  height: 7rem;
  background: linear-gradient(to top, rgb(30, 30, 30), rgb(40, 40, 40));
  user-select: none;
}

header h1 {
  display: flex;
  /* ^FLEX-SETTINGS^ */
  font-family: "Josefin Slab", serif;
  font-weight: 400;
  margin-right: 0.5rem;
  padding-bottom: 0.4rem;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.429);
  color: var(--unitedNationsBlue);
}

header img {
  height: 3rem;
  width: 3rem;
}

main {
  user-select: none;
  width: 100%;
  margin-bottom: 6rem;
  margin-top: 7.1rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

main ul {
  list-style-type: none;
}

main ul li {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* ^FLEX-SETTINGS^ */
  color: var(--unitedNationsBlue);
  max-width: 15rem;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  padding: 0.3rem;
  margin: 20px auto;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(27, 27, 27);
}

main ul li:hover {
  background: rgb(20, 20, 20);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.267);
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  /* ^FLEX-SETTINGS^ */
  width: 100%;
  height: 4rem;
  background: linear-gradient(to bottom, rgb(30, 30, 30), rgb(40, 40, 40));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.188);
}

#my-signature {
  font-family: "Qwigley", cursive;
  color: rgb(72, 72, 72);
  font-size: 3rem;
  position: fixed;
  bottom: 3.5rem;
  margin-bottom: -1.2rem;
  z-index: 1;
  user-select: none;
}

footer ul {
  display: flex;
  text-align: center;
  gap: 10vw;
  /* ^FLEX-SETTINGS^ */
  font-size: 18px;
  list-style: none;
}

footer a {
  color: var(--unitedNationsBlue);
  text-decoration: none;
  font-family: "Josefin Slab", serif;
  display: block;
  position: relative;
  padding: 0.4em 0;
}

/* 
UNDERLINE EFFECT!
Source and help from: https://css-irl.info/animating-underlines
*/
footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

footer a:hover::after,
footer a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

footer ul li a::after {
  transform: translate3d(-100%, 0, 0);
}

footer ul li a:hover::after,
footer ul li a:focus::after {
  transform: translate3d(0, 0, 0);
}

/* 
SCROLLBAR DESIGN!
Source and help from: https://css-tricks.com/almanac/properties/s/scrollbar/
*/
main::-webkit-scrollbar {
  width: 1rem;
}

main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.368);
  outline: 1px solid var(--unitedNationsBlue);
  border-radius: 50px;
}
