* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* ^FLEX-SETTINGS^ */
  height: 100vh;
  width: 100vw;
  color: white;
  background: rgb(30, 30, 30);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* ^FLEX-SETTINGS^ */
  width: 100%;
  height: 5rem;
  background: linear-gradient(to top, rgb(30, 30, 30), rgb(40, 40, 40));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.421);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
  /* ^FLEX-SETTINGS^ */
  background-color: blue;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* ^FLEX-SETTINGS^ */
  width: 100%;
  height: 6rem;
  background: linear-gradient(to bottom, rgb(30, 30, 30), rgb(40, 40, 40));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.188);
}

footer ul {
  display: flex;
  font-size: 12px;
}

footer h3 {
}
